@media (min-width: 768px) {
.navContainer {
	width:75%;
	margin:0 auto;
}
}
h1 {
	size: 3px;
	text-align: center;
	flood-color: white;
}
table.minimalistBlack {
  border: 3px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
article {
  width: 100%;
  margin: auto;
}

.navbar{
  width:100%;
}
.featuredArtist h1{
  margin: auto;
  text-align: center;
}
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;;
}

.loginmodal-container input[type=submit] {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
    user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

nav a.current_page {
  color: white;
  background: lightgrey;
  text-decoration:none;
}

.artistDisc {
  margin-bottom: 100%;
}
p {
  font-family: 'Roboto', sans-serif;
}
dt {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
#tdFont {
  font-size: x-large;
}
td {
  vertical-align: middle;
}
.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #ffffff;
  float: left;
}
nav {
 /* border-bottom: groove;*/
  font-size: 1.1em !important;
}
/****************** - ALBUM PAGE - **********************/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
}
.col-item .photo img
{
  margin: 0 auto;
  width: 100%;
}

.col-item .info
{
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}

.col-item:hover .info {
  background-color: #F5F5DC;
}
.col-item .price
{
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}

.col-item .price h5
{
  line-height: 20px;
  margin: 0;
}

.price-text-color
{
  color: #219FD1;
}

.col-item .info .rating
{
  color: #777;
}

.col-item .rating
{
  /*width: 50%;*/
  float: left;
  font-size: 1px;
  text-align: right;
  line-height: 52px;
  margin-bottom: 10px;
  height: 52px;
}

.col-item .separator
{
  border-top: 1px solid #E1E1E1;
}

.clear-left
{
  clear: left;
}

.col-item .separator p
{
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.col-item .separator p i
{
  margin-right: 5px;
}
.col-item .btn-add
{
  width: 50%;
  float: left;
}

.col-item .btn-add
{
  border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
  width: 50%;
  float: left;
  padding-left: 10px;
  font-size: 14px;
}

[data-slide="prev"]
{
  margin-right: 10px;
}
#id1 {
  padding-bottom: 2%;
}
/****************** - END ALBUM PAGE - **********************/
#spaceOf10 {
  padding-top: 7%;
}
@media only screen and (max-width: 450px) {
  .hideCol{
    display: none;
  }
}
#h1Left {
  float: left;
  font-family: 'Roboto', sans-serif;
}
/****************** - START INDEX PAGE - **********************/
.carousel-inner > .carousel-item> img,
 .carousel-inner > .carousel-item > a,
 .carousel-inner > .carousel-item > a > img {
   display: block;
   line-height: 1;
   width: 100%;
 }